html, body{
    height: 100%;
}
a{
	text-decoration: none;
}
body{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
section.content{
	position: relative;
	width: 100%;
}
h1.main{
	display: block;
	clear: both;
	margin-top: 100px;
	font-size: 50px;
	font-weight: 700;
	color: #000;
	width: 100%;
	text-align: center;
}
div.url-form{
	position: relative;
	overflow: hidden;
	width: 50%;
	margin: 0 auto;
}
input.url-form{
	font-size: 14px;
}
input.url-short{
	width: calc(100% - 16px);
	padding: 7px;
	margin: 0px;
	margin-bottom: 4px;
	border: 1px solid #CCC;
}
button.url-short-button{
	float: right;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFF;
	background-color: #FC6;
	border: 1px solid #FC0;
}
div.url-view{
	position: relative;
	width: 50%;
	margin: 0 auto;
}
div.url{
	border: 1px solid #E1E1E1;
	background-color: #F1F1F1;
	text-align: center;
	padding: 10px;
	font-weight: 700;
}
a.url{
	color: #09C;
}
a.url:hover{
	color: #F90;
}
div.error404{
	position: relative;
	width: 50%;
	margin: 0 auto;
	color: #FFF;
	border: 1px solid #F00;
	background-color: #FF4A4A;
	text-align: center;
	padding: 10px;
	font-weight: 700;
}